# Python
__pycache__/
*.py[cod]
*.egg-info/

# 가상환경
.venv/
venv/

# 환경변수 (비밀값!)
.env

# Django
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
